:root{
    --clr-dark:rgb(7, 30, 61);
    --clr-blue:rgb(31, 66, 135);
    --clr-green:rgb(39, 142, 165);
    --clr-lgreen:rgb(33, 230, 193);

    --ff-base :"Outfit" , sans-serif;
    
    --fw-regular:300;
    --fw-semi-bold:400;
    --fw-bold:700 ;

    --fs-200:0.875 rem;
    --fs-300:1 rem;
    --fs-400:1.125 rem;
    --fs-500:1.375 rem;
    --fs-600:1.75 rem;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

img,svg{
    max-width: 100%;
    display: block;
}

html{
    color-scheme: dark;
}

body{
    background-color: var(--clr-dark);
    color: white;
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);

}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }